body
{
margin:0px;
padding:0px;
box-sizing:border-box;
width:1500;

}
html,body{
font-family:robot,sens-serif,ariel;
font-size:20px;
color:#242424;
}
.container{
width:1000px;
margin:0px auto;
}
.header{
display:flex;
background-color:black;

}
.header b{
background:white;
color:white;
padding:0px;
font-size:20px;
justify-content:center;
}
h1{
color:red;
}

.h2{
display:flex;
justify-content:end;
margin-top:20px;
}
a{
color:blue;
display:flex;
margin-right:80px;

}
.slider-width{
display:flex;
width:1600px;
height:600px;
}
td{
display:flex;
width:60;
height:50;
margin:20px;
}

.abc{
display:flex;
}
.img3{
display:flex;
width:500px;
height:300px;
}
.pqr{
display:flex;
}
